<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="application/bootstrap.php" colors="true">
    <testsuite name="apmgrtest">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
        </whitelist>
        <blacklist>
            <exclude>
                <directory>../public/</directory>
                <directory suffix=".phtml">../application/</directory>
                <directory suffix=".php">../application/helpers</directory>
                <directory suffix="*">../application/configs</directory>
                <directory suffix=".phtml">../application/layouts</directory>
            </exclude>
        </blacklist>
    </filter>
    <!-- 
    <logging>
        <log type="coverage-html" target="./logs/reports/" charset="UTF-8" yui="true" highlight="true" lowUpperBound="30" highLowerBound="80"/>
        <log type="testdox-html" target="./logs/testdox.html"/>
    </logging>
    -->
</phpunit>
